/* ----------- GENERAL STYLES --------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #f7fff7;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #4a4645;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #4a4645;
}

.profile-txt {
  color: #0b6e4f;
}

/* ----------- MEDIA QUERIES STYLES 320px --------------*/

@media (min-width: 320px) {
  body {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
  }

  header {
    background-color: #fff4ec;
  }

  .header-container {
    width: 90%;
    margin: 0 auto;
  }

  .logo-nav-flex {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-top: 26px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .logo a:link {
    color: #646b73;
  }

  .logo a:visited {
    color: #646b73;
  }

  .logo a:hover {
    color: #e01a4f;
    opacity: 0.7;
  }

  .top-nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .top-nav a {
    display: flex;
    flex-grow: 1;
    border-radius: 2px;
    margin-top: 5px;
    background-color: #1a535c;
    text-transform: uppercase;
    padding: 5px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  }

  .top-nav a:link {
    color: #f7fff7;
  }

  .top-nav a:visited {
    color: #f7fff7;
  }

  .top-nav a:hover {
    color: #000;
    background-color: #ffe66d;
  }

  .student-profile {
    margin: 20px 0;
    display: flex;
    flex-direction:column;
    align-items: center;
  }

  .profile-img {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .profile-txt {
    padding-bottom: 40px;
  }

  h2 {
    text-transform: uppercase;
  }

  .portfolio-title {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  main {
    width: 90%;
    margin: 0 auto;
  }

  h3 {
    padding: 20px 0;
  }

  main p {
    padding-bottom: 40px;
  }

  footer {
    background-color: #fff4ec;
  }

  .contact-title {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .contact-text {
    padding-bottom: 30px;
    width: 90%;
    margin: 0 auto;
  }

  .contact-info {
    padding-bottom: 60px;
    color: #746d75;
  }

  .contact-info p {
    padding-bottom: 10px;
  }

  .style-one {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 90%;
    margin: 0 auto;
  }

  .backtotop {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }

  .linktop {
    text-decoration: none;
    text-transform: uppercase;
  }

  .linktop a:link {
    color: #0a100d;
  }

  .linktop a:visited {
    color: #0a100d;
  }

  .linktop a:hover {
    color: #e01a4f;
  }

  .bottom-nav {
    display: none;
  }

}


/* ----------- MEDIA QUERIES STYLES 768px --------------*/

@media (min-width: 768px) {

  header {
    display: flex;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .top-nav a {
    flex-grow: 0;
    background-color: transparent;
    color: #4a4645;
    margin: 0 10px;
  }

  .top-nav a:link {
    color: #4a4645;
  }

  .top-nav a:visited {
    color: #4a4645;
  }

  .top-nav a:hover {
    background-color: transparent;
    border-bottom: 1px solid #e01a4f;
  }

  .student-profile {
    display: flex;
    flex-direction: row-reverse;
  }

  .profile-txt {
    flex-grow: 3;
    padding-right: 5px;
    text-align: left;
  }

  .portfolio-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .portfolio-title {
    padding-top: 60px;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-basis: 345px;
    padding-right: 20px;
  }

  .contact-text {
    text-align: center;
    width: 500px;
  }

  .linktop {
    display: none;
  }

  .backtotop {
    display: flex;
    flex-direction: row;
  }

  .backtotop h3 {
    margin: 0;
    padding-bottom: 20px;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-nav a {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    padding-right: 10px;
  }

  .bottom-nav a:link {
    color: #4a4645;
  }

  .bottom-nav a:visited {
    color: #4a4645;
  }

  .bottom-nav a:hover {
    color: #e01a4f;
  }

}


/* ----------- MEDIA QUERIES STYLES 1024px --------------*/

@media (min-width: 1024px) {
  .logo-nav-flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}
  .logo {
    padding-top: 5px;
  }

  .student-profile {
    align-items: flex-start;
    padding-top: 20px;

  }

  .profile-img {
    margin: 0;
    padding: 0;
    max-width: 365px;
  }

  .profile-txt {
    flex-grow: 2;
    padding-right: 40px;
  }

  section {
    flex-basis: 300px;
  }

}
